@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);

// primary font
$primary-font-family: 'Raleway', sans-serif;
$primary-font-size: 16px;
$primary-line-height: 1.5;

// seconday font
$secondary-font-family: 'Lato', sans-serif;
$secondary-font-size: 16px;
$secondary-line-height: 1.5;

// fixed width font
$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;

$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;
$body-color: #515151;
$body-bg: #fff;
$link-color: $blue;
$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;
