<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <img src="/public/images/save-file.png">
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item" href="/public/cv/corbett_martin_cv.pdf">
      <img src="/public/images/pdf.png">
    </a>
    <a class="sidebar-nav-item" href="/public/cv/corbett_martin_cv.docx">
      <img src="/public/images/docx.png">
    </a>
    <a class="sidebar-nav-item" href="/public/cv/corbett_martin_cv.pages">
      <img src="/public/images/apple.png">
    </a>
    <a class="sidebar-nav-item" href="/public/cv/corbett_martin_cv.md">
      <img src="/public/images/markdown.png">
    </a>
    <a class="sidebar-nav-item" href="/public/cv/corbett_martin_cv.txt">
      <img src="/public/images/txt.png">
    </a>

  </nav>

</div>